// src/components/RlinkList.vue

<template>
  <div id="rlinklist">
    <ul>
      <rlink v-for="rlink in rlinks"
            v-bind:rlink="rlink"
            v-bind:key="rlink.id">
      </rlink>
    </ul>
  </div>
</template>

<script>
import Rlink from './Rlink.vue'

export default {
  components: {
    Rlink
  },
  computed: {
    rlinks () {
      return this.$store.state.rlinks
    }
  }
}
</script>
