// src/components/RlinkInput.vue

<template>
  <div id="rlink-inputs">
    <input v-model="newRlinkText" v-on:keyup.enter="createRlink">
    <button v-on:click="createRlink">Add</button>
  </div>
</template>

<script>
export default {
  name: 'RlinkInput',
  data: function () {
    return { newRlinkText: '' }
  },
  methods: {
    createRlink () {
      this.$store.dispatch('addRlink', {text: this.newRlinkText})
      this.newRlinkText = ''
    }
  }
}
</script>
