// src/App.vue

<template>
  <div id="app">
    <rlink-input></rlink-input>
    <rlink-list></rlink-list>
  </div>
</template>

<script>
import RlinkList from './components/RlinkList.vue'
import RlinkInput from './components/RlinkInput.vue'

export default {
  components: {
    RlinkInput,
    RlinkList
  }
}
</script>
